body {
  margin:0px;
  padding:0px;
  overflow: hidden;
  background:linear-gradient(rgba(0,0,0,0.86),rgba(0,0,0,0.86)),url(../img/paoloweb-14.png);
  font-family: sans-serif;
}


nav{
  height:150px;
  background-color: black;
}

.logo{
  height: 30px;
  width: 113px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 50px;
}

li{
  color:white;
  float: right;
  margin-top: 30px;
  list-style: none;
  margin: 50px;
  line-height: 1em;
}


#torch {
  border-radius:80px;
  position:absolute;
  top:0px;
  left:-100000px;
  width:160px;
  height:160px;
  background-image: url(../img/paoloweb-14.png);
  background-position: 0 0;
  -webkit-box-shadow:inset 0 0 15px 15px black;
  -moz-box-shadow:inset 0 0 15px 15px black;
  box-shadow: inset 0 0 15px 15px black;
}


.image-center{
  height: 366px;
  width: 1225px;
  position: absolute;
  left:163px;
  top: 291px;
}
